.tabs {
  padding-bottom: 35px;
  padding-right: 30px;
  padding-left: 30px;
}

.tabPanel {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .tabPanel {
    display: flex;
    flex-direction: column;
  }
}
