.homeCarousel {
  margin-top: 40px;
}

.carouselCards {
  border-radius: 8px;
}

.carouselControllers {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
}

.slickNext,
.slickPrev {
  /* padding: 10px; */
  font-size: 30px;
}
