.testimonialCard {
  background: #f1f2f5;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  /* margin-bottom: 50px; */
}

.testimonialCard:hover {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(126, 126, 126, 0.2);
}

.testimonialLogo {
  display: flex;
  justify-content: center;
}

.testimonialBgLogo {
  background: #d6d6d6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.testimonialLogo img {
  margin: auto;
  /* width: 70%; */
  filter: grayscale(100%);
}

.testimonialCard:hover .testimonialLogo img {
  filter: grayscale(0%);
}

.testimonialInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonialInfo h4 {
  font-size: 16px;
  font-weight: bold;
  color: #92969e;
}

.testimonialCard:hover .testimonialInfo h4 {
  color: #006aff;
}

.testimonialInfo p {
  font-size: 14px;
  margin-bottom: 0;
}
